<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer Vue.js</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id='app' >
        <img v-bind:src="img" v-bind:alt="name" >
        <h1>
            {{name}}
            <span v-if='changePercent > 0 '>
                Es mayor a cero
            </span>
            <span v-if='changePercent < 0'>
                Es menor a cero
            </span>
            <span v-else>
                Es cero
            </span>
            <br>
            <span v-show='changePercent > 0 '>
                Es mayor a cero
            </span>
            <span v-show='changePercent < 0'>
                Es menor a cero
            </span>
            <span v-show='changePercent === 0'>
                Es cero
            </span>
        </h1>
    </div>

    <script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script defer src="app.js"></script>
</body>
</html>