<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer Vue.js</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id='app' >
        <img 
            v-bind:src="img" 
            v-bind:alt="name"
            v-on:mouseover='toggleShowPrices' 
        >
        <h1>
            {{name}}
            <span v-if='changePercent > 0 '>
                Es mayor a cero
            </span>
            <span v-if='changePercent < 0'>
                Es menor a cero
            </span>
            <span v-else>
                Es cero
            </span>
        </h1>

        <button v-on:click='toggleShowPrices'> 
            {{ 
                !showPrices 
                    ? 'Mostrar precios' 
                    : 'Ocultar precios' 
            }}
        </button>

        <ul v-show='showPrices'>
            <li v-for='(p, i) in pricesWithDays' v-bind:key='p'>
                {{i + 1 }} - {{p.value}} - {{p.day}}
            </li>
        </ul>
    </div>

    <script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script defer src="app.js"></script>
</body>
</html>